.container {
  width: 100%;
  margin-top: 50px;
  background: linear-gradient(yellow, green);
  border-radius: 30px;
  padding-bottom: 3px;
  padding-top: 5px;
}
.container p {
  text-align: center;
  font-size: 70px;
}
.container h6 {
  text-align: center;
}
body {
  background-color: white;
}
.anim{
  padding: 15px 25px;
  background-color: black;
  margin-bottom: 5rem;
}
h2 {
  text-align: center;
  animation: infinite 15s colorface;
}
@keyframes colorface {
  0% {
    color: white;
  }
  25% {
    color: yellow;
  }
  50% {
    color: blue;
  }
  75% {
    color: peru;
  }
  100% {
    color: black;
  }
}

h4 {
  text-align: center;
  margin-top: 0%;
  padding-left: 7%;
  padding-right: 7%;
  font: size 180%;
}
h6 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10%;
  color: black;
}
/* cards */

.my-third-project {
  align-items: center;
}
.my-second-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
  height: 10%;
  padding: 1%;
}

.my-third-project {
  display: flex;
  margin: 5%;
  gap: 5%;
}

.my-fifth-project {
  display: flex;
  margin: 5%;
  gap: 5%;
}

.homey {
  display: flex;
  border-bottom: 2px solid black;
  font-size: 10px;
  color: white;
  gap: 30px;
  padding-bottom: 5px;
  justify-content: space-between;
}


.TEXTURES-LOGO {
  width: 100%;
}

 .links-section {
  display: flex;
  flex-direction: row;
  gap: 22px;
  width: 100%;
}
.links-section a {
  color: black;
  text-decoration: none;

  margin-bottom: 5px;
  font-size: 18px;
}
.TEXTURES-LOGO img {
  width: 10%;
  size: 30%;
}

.homey a:hover {
  color: yellow;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
}
.homey-1 {
  text-align: center;
  font-size: 15px;
  color: white;
  gap: 20px;
  display: flex;
  justify-content: center;
}

.homey-1 a {
  color: white;
  text-decoration: none;
  border: 2px solid black;
  border-bottom: 2px solid white;
  padding: 5px;
  background-color: black;
}

.homey-1 a:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
}
.homey-2 {
  text-align: center;
  font-size: 15px;
  color: white;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.homey-2 a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 5px;
  background-color: black;
}
h5 {
  text-align: center;
  font-size: 70px;
}
.homey-2 a:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
}
.homey-3 {
  text-align: center;
  font-size: 15px;
  color: white;
  gap: 20px;
  display: flex;
  justify-content: center;
}
.homey-3 a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding: 5px;
  background-color: black;
}
.homey-3 a:hover {
  background-color: aliceblue;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.3s ease;
  border-bottom: 2px solid white;
  padding-bottom: 5px;
}

/* footer */
.footer {
  display: flex;
  margin-top: 20% solid white;
  margin-bottom: 20px solid white;
  padding: 15px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
.footer .section-b {
  background-color: black;
  margin-left: 5px;
  margin-right: 5%;
  border-radius: 40px;
  width: 10px;
  font-size: 0%;
}
.footer .section-11 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
.footer img {
  width: 120px;
}
.footer.section-22 {
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
  gap: 10px;
  font-size: 30px;
}
.footer .section-22 a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.5s ease;
}
.footer .section-22 a:hover {
  color: white;
  background-color: black;
}
.footer .section-33 {
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 30%;
  margin-left: 10%;
  gap: 2%;
}
.footer .section-33 h3 {
  font-size: 30px;
}
.print-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* table */

.the-table {
  align-items: center;
}
table {
  background-color: black;
  border-radius: 10px;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  margin-bottom: 80px;
  align-items: center;
  margin-left: 30%;
}
tr {
  border-radius: 10px;
}
th {
  color: black;
  background-color: white;
  border-radius: 4px;
  padding: 4px;
}
td {
  color: black;
  background-color: white;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
}
/* form */
form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  margin-top: 7rem;
  background: linear-gradient(white, black);
  gap: 20px;
  border: 2px solid black;
  border-radius: 90px;
}
h1 {
  text-align: center;
}
.coulmn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 45%;
  size: 40px;
}
.coulmn input {
  width: 30%;
  height: 25px;
}
.coulmn label {
  font-weight: bold;
  text-decoration: underline;
  font-size: large;
}
